.header_background{
    height: 50px;
    background-color: #2c3e50;
}

.section_2{
    height: 300px;
    background-color: #1abc9c;
}

.section_3{
    height: 1000px;
}

.section_4{
    height: 300px;
    background-color: #1abc9c;
}

.section_5{
    height: 300px;
}

.section_6{
    height: 300px;
    background-color: #3a546d;
}

.section_7{
    height: 100px;
    background-color: #2c3e50;
}