.header_background{
    height: 50px;
    background-color: #2c3e50;
}

.section_2{
    height: 400px;
    background-color: #1abc9c;
}



.section_4{
    background-color: #1abc9c;
}

.section_5{
    height: 300px;
}

.section_6{
   
    background-color: #3a546d;
}

.section_7{
    height: 100px;
    background-color: #2c3e50;
}

.white-color{
    color: white;
}

.image_random_conteiner{
    height: 180px;
    text-align: center;
}

.image_random{
    height: 100%;
    width: 100%;
}

.centratura{
    text-align: center;
    text-transform: uppercase;
}

.font_xxlarge{
    font-size: xx-large;
}

.font_large{
    font-size: large;
}

.rosso{
    background-color: red;
}

.height_300px{
    border-radius: 25px;
    height: 300px;
}