.header_background{
    height: 50px;
    background-color: #2c3e50;
}

.section_2{
    height: 400px;
    background-color: #1abc9c;
}

.section_4{
    background-color: #1abc9c;
}


.section_6{
   
    background-color: #3a546d;
}

.section_7{
    height: 100px;
    background-color: #2c3e50;
}

.white-color{
    color: white;
}

.image_random_conteiner{
    height: 180px;
    text-align: center;
}

.image_random{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.centratura{
    text-align: center;
    text-transform: uppercase;
}

.font_xxlarge{
    font-size: xx-large;
}

.font_large{
    font-size: large;
}

.rosso{
    background-color: red;
}

.height_300px{
    height: 300px;
}

.height_100{
    height: 100%;
}

.link_verde{
    color: #1abc9c;
}

.border_circle{
    border-radius: 50%;
    border: 1px solid white;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: large;
    display: inline-block;
    margin-right: 0.4rem;
}

input::placeholder{
    color: #000000;
    font-size: 1.5rem;
}

.link-nav{
    text-decoration: none;
    color: white;
}

.link-nav:hover{
    color: green;
}

.background_back{
    background-color: #1abc9c;
}

.margine_50{
    margin-top: 50px;
}

.padding_50{
    padding-top: 50px;
}

.background_back_img{
    background-color: rgba(0, 255, 0, 0.8);
}

.white-line{
    border-radius: 25px;
    height: 5px;
    width: 100px;
    background-color: white;
}

